.chart-container {
    width: 100%;
    height: 100%;
    overflow: auto;

    // svg{
    //     width: 1000px;
    // }
  }
  
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  .node rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .node text {
    font-size: 14px;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }

  
  